#head{
    background-image: url(img/header/headback.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/header/headback.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/header/headback.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

@media (max-width:1024px){
    #head{
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(img/header/headmob.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/header/headmob.jpg);
    }
}

#desknav{
    
}