@font-face {
	font-family: gtRG;
	src: url('fonts/gtRG.ttf');
}

#head{
    background-image: url(img/header/headback.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/header/headback.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header/headback.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
#headIMG{
    width:40%;
}

@media (max-width:1024px){
    #head{
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(img/header/headmob.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/header/headmob.jpg);
    }
    #headIMG{
        width:80%;
    }
}

#linkwrap{
    display:inline-block;
}

.headBTN{
    color:white;
    background-color: #f0492f;
    border:1px solid #f0492f;
    width:200px;
    height:40px;
    font-size:20px;
    line-height:40px;
    border-radius: 20px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    display:inline-block;
    text-decoration: none !important;
    
}
.headBTN:hover{
    color: white;
    background-color: rgba(0,0,0,.25);
    text-decoration: none;
    cursor: pointer;
    border:1px solid #f0492f;
    -webkit-box-shadow: 0px 0px 15px lightgrey;
    box-shadow: 0px 0px 15px lightgrey;
}
.headBTN:active{
    color:white;
}
.headBTN:focus{
    color:white;
}

@media (max-width:824px){
    .headBTN{
        display:block;
        margin: 10px;
    }
}

#services{
    height: 100vh;
    background-image: url(img/3dbackground.jpg);
    background-repeat: repeat;
}